.navbar {
    position: fixed; /* Fixes navbar at certain spot on screen so that it will not move */
    top: 0; /* Sets the top of the navbar div to the very top of the screen */
    width: 100%; /* Take up entire width of the screen */
    height: 65px;
    background-color: black;
    display: flex;
    flex: 1;
    flex-direction: row;
    color: white; /* Text color */
    justify-content: space-evenly; /* Aligns all items inside the navbar horizontally */
    align-items: center;  /* Aligns all items vertically */
    
  }

  .brand {
    font-size: 24px;
  }
  .navbtn {
    font-size: 16px;
    color: white;
  }

  .spacer {
    /* By default, a div has: position: static; <-- this means it is in the DOM flow */
      width: 100%;  /* Take up entire width of the screen */
      height: 65px;
    }

    .brand:link {
        color: white;
        background-color: transparent;
        text-decoration: none;
      }
      .brand:visited {
        color: white;
        background-color: transparent;
        text-decoration: none;
      }
      .brand:hover {
        color: white;
        background-color: transparent;
        text-decoration: underline;
      }
      .brand:active {
        color: white;
        background-color: transparent;
        text-decoration: underline;
      }